* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Main Content Styles */
.main-content {
  padding: 20px;
}

section {
  padding: 20px;
}


.product h4 {
  color: red;
}


/* Responsive Styles */
@media screen and (max-width: 768px) {
  .main-content {
    padding: 10px;
  }
}