* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  color: #333;
}

html {
  scroll-behavior: smooth;
}

section {
  padding: 20px;
}


.product h4 {
  color: red;
}

li {
  list-style-type: none;
}


/* Responsive Styles */
@media screen and (max-width: 992px) {
  body {
    font-size: 14px;
  }

}